/*initialize*/
body {
    font-family: "Avenir Next", "Sora";
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6{
    color: dark;
    font-weight: 500;
}

a{
    color: dark;text-decoration: none;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

/*-----------------*/
/* header */
.nav-item{
    list-style: none;
    padding: 10px 20px;
}

/* feature section */
.img-fluid{
    width: 600px;
    height: 600px;
}

/* contents section */
.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
 }
  
.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}
  
/* footer */
.footer-top {
    padding: 50px;
    background-color: gainsboro;
}

.footer-icon{
    height: 120px;
    width: 120px;
    display: inline-block;
}
